<div class="container">
    <div class="row">
        <div class="container col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8 game-menu-focus">
            <h2>Create a new Map</h2>
            <div>
                <form class="form-inline" id="newMap" action="#/create-map" method="post">
                    <div class="form-group">
                        <label for="mapName">Map Name:</label>
                        <input type="email" class="form-control" id="mapName">
                    </div>
                    <div class="form-group">
                        <span type="button" id="createMapBtn" class="btn btn-success disabled">Create Map</span>
                    </div>
                </form>
                <div>
                    <p></p>
                    <p class="text-warning">
                        Click on the fields to add three ships, three cell each. Supply a name for your map, and save it for all to play!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>

<div id="board">

    <table>
        <tr>
            <th class="numbers"></th>
            <th class="numbers">0</th>
            <th class="numbers">1</th>
            <th class="numbers">2</th>
            <th class="numbers">3</th>
            <th class="numbers">4</th>
            <th class="numbers">5</th>
            <th class="numbers">6</th>
        </tr>

        <tr>
            <th class="letters">A</th>
            <td>
                <div data-id="0"></div>
            </td>
            <td>
                <div data-id="1"></div>
            </td>
            <td>
                <div data-id="2"></div>
            </td>
            <td>
                <div data-id="3"></div>
            </td>
            <td>
                <div data-id="4"></div>
            </td>
            <td>
                <div data-id="5"></div>
            </td>
            <td>
                <div data-id="6"></div>
            </td>
        </tr>
        <tr>
            <th class="letters">B</th>
            <td>
                <div data-id="7"></div>
            </td>
            <td>
                <div data-id="8"></div>
            </td>
            <td>
                <div data-id="9"></div>
            </td>
            <td>
                <div data-id="10"></div>
            </td>
            <td>
                <div data-id="11"></div>
            </td>
            <td>
                <div data-id="12"></div>
            </td>
            <td>
                <div data-id="13"></div>
            </td>
            <tr>
                <th class="letters">C</th>
                <td>
                    <div data-id="14"></div>
                </td>
                <td>
                    <div data-id="15"></div>
                </td>
                <td>
                    <div data-id="16"></div>
                </td>
                <td>
                    <div data-id="17"></div>
                </td>
                <td>
                    <div data-id="18"></div>
                </td>
                <td>
                    <div data-id="19"></div>
                </td>
                <td>
                    <div data-id="20"></div>
                </td>
            </tr>
            <tr>
                <th class="letters">D</th>
                <td>
                    <div data-id="21"></div>
                </td>
                <td>
                    <div data-id="22"></div>
                </td>
                <td>
                    <div data-id="23"></div>
                </td>
                <td>
                    <div data-id="24"></div>
                </td>
                <td>
                    <div data-id="25"></div>
                </td>
                <td>
                    <div data-id="26"></div>
                </td>
                <td>
                    <div data-id="27"></div>
                </td>
            </tr>
            <tr>
                <th class="letters">E</th>
                <td>
                    <div data-id="28"></div>
                </td>
                <td>
                    <div data-id="29"></div>
                </td>
                <td>
                    <div data-id="30"></div>
                </td>
                <td>
                    <div data-id="31"></div>
                </td>
                <td>
                    <div data-id="32"></div>
                </td>
                <td>
                    <div data-id="33"></div>
                </td>
                <td>
                    <div data-id="34"></div>
                </td>
            </tr>
            <tr>
                <th class="letters">F</th>
                <td>
                    <div data-id="35"></div>
                </td>
                <td>
                    <div data-id="36"></div>
                </td>
                <td>
                    <div data-id="37"></div>
                </td>
                <td>
                    <div data-id="38"></div>
                </td>
                <td>
                    <div data-id="39"></div>
                </td>
                <td>
                    <div data-id="40"></div>
                </td>
                <td>
                    <div data-id="41"></div>
                </td>
            </tr>
            <tr>
                <th class="letters">G</th>
                <td>
                    <div data-id="42"></div>
                </td>
                <td>
                    <div data-id="43"></div>
                </td>
                <td>
                    <div data-id="44"></div>
                </td>
                <td>
                    <div data-id="45"></div>
                </td>
                <td>
                    <div data-id="46"></div>
                </td>
                <td>
                    <div data-id="47"></div>
                </td>
                <td>
                    <div data-id="48"></div>
                </td>
            </tr>
    </table>

</div>