.menu-item{
    margin: 0 3rem 0;
}

.menu-item *{
    color: white;
}

.logo{
    font-size: 2.4rem;
}
.game-menu-button{
    display: block;
    margin: 2rem 0;
    font-size: 2.6rem;
}
.game-menu-focus{
    border: solid 3px black;
    border-radius: 2rem;
    background: #333333;
}

.game-add-row{  
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    border: solid 3px black;
    border-radius: 2rem;
    background: #333333;
    min-height: 100px;
}
.game-add-box{
    min-height: 60px;
    border: solid 3px black;
    border-radius: 2rem;
    background: #D37E1D;
    margin-bottom: 5px;
    color: black;
}

.form-group{
    margin: 2rem 0;
    padding: 0 10px;
}

tbody>tr>td{
    font-size: 2.4rem;
}
thead>tr>th{
    font-size: 3rem;
}

.game-rules{
    list-style-type: none;
}


#notifications {
    position: absolute;
    top: 80vh;
    right: 40vw;
    margin: 1em;
    }

.notification {
    width: 20vw;
    font-size: 1.6em;
    color: #ffffff;
    display: none;
    text-align: left;
}

.notification {
    padding:  0.5em 1.5em 0.5em 1.5em;
    border-radius: 10px;
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}




