{{#if isAnonymous}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8 game-menu-focus">

                <h2>Hello, stranger! </h2>
                <h4>Welcome to our re-enactment of the queen of navel games, the BattleShip!</h4>
                <p class="text-warning">Developed as a team project for a SoftUni Javascript class, it will take you to battle on {{gameCount}} different
                    maps
                </p>
                <p class="text-warning">Play other people's boards, and make new ones to challenge the enemy!</p>
                <p class="text-warning">Visit the Hall-Of-Fame to see how you rank against oposing Admirals!</p>
                <p></p>
                <p class="text-warning"><a href="#/register" id="linkMenuRegister" class="anonymous" data-target="register"><span class="glyphicon glyphicon-registration-mark" ></span>
                    Register</a> or <a href="#/login" class="anonymous" data-target="login"><span class="glyphicon glyphicon-log-in"  ></span> Login</a>                    to join in the battle!</p>

            </div>
        </div>
    </div>
</section>
{{> footer}}
{{else}}
<section id="section-game-menu">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-4 col-lg-4 game-menu-focus">
                <a href="#/play" class="btn btn-success btn-lg btn-block game-menu-button">Play Random!</a>
                <a href="#/choose-map" class="btn btn-primary btn-lg btn-block game-menu-button">Browse Maps</a>
                <a href="#/create-map" class="btn btn-primary btn-lg btn-block game-menu-button">Create Map</a>
                <a href="#/hall-of-fame" class="btn btn-primary btn-lg btn-block game-menu-button">Hall Of Fame</a>
                <a href="#/how-to-play" class="btn btn-warning btn-lg btn-block game-menu-button">How To Play</a>
            </div>
        </div>
    </div>
</section>
{{/if}}
