{{> header}}

<section id="section-game">
    <div class="container col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8 game-menu-focus">
        <div id="board">
            <div class="container" id="game-init-button">
                <div class="row">
                    <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-4 col-lg-4">
                        <button type="button"
                                class="btn btn-success btn-lg btn-block game-menu-button"
                                data-target="game"
                                onclick="playground.init('{{gameId}}');"
                        >
                            Let the battle begin!
                        </button>
                    </div>
                </div>
            </div>
            <div id="messageArea"></div>
            <table>
                <tr>
                    <th class="numbers"></th>
                    <th class="numbers">0</th>
                    <th class="numbers">1</th>
                    <th class="numbers">2</th>
                    <th class="numbers">3</th>
                    <th class="numbers">4</th>
                    <th class="numbers">5</th>
                    <th class="numbers">6</th>
                </tr>

                <tr>
                    <th class="letters">A</th>
                    <td>
                        <div id="0"></div>
                    </td>
                    <td>
                        <div id="1"></div>
                    </td>
                    <td>
                        <div id="2"></div>
                    </td>
                    <td>
                        <div id="3"></div>
                    </td>
                    <td>
                        <div id="4"></div>
                    </td>
                    <td>
                        <div id="5"></div>
                    </td>
                    <td>
                        <div id="6"></div>
                    </td>
                </tr>
                <tr>
                    <th class="letters">B</th>
                    <td>
                        <div id="7"></div>
                    </td>
                    <td>
                        <div id="8"></div>
                    </td>
                    <td>
                        <div id="9"></div>
                    </td>
                    <td>
                        <div id="10"></div>
                    </td>
                    <td>
                        <div id="11"></div>
                    </td>
                    <td>
                        <div id="12"></div>
                    </td>
                    <td>
                        <div id="13"></div>
                    </td>
                <tr>
                    <th class="letters">C</th>
                    <td>
                        <div id="14"></div>
                    </td>
                    <td>
                        <div id="15"></div>
                    </td>
                    <td>
                        <div id="16"></div>
                    </td>
                    <td>
                        <div id="17"></div>
                    </td>
                    <td>
                        <div id="18"></div>
                    </td>
                    <td>
                        <div id="19"></div>
                    </td>
                    <td>
                        <div id="20"></div>
                    </td>
                </tr>
                <tr>
                    <th class="letters">D</th>
                    <td>
                        <div id="21"></div>
                    </td>
                    <td>
                        <div id="22"></div>
                    </td>
                    <td>
                        <div id="23"></div>
                    </td>
                    <td>
                        <div id="24"></div>
                    </td>
                    <td>
                        <div id="25"></div>
                    </td>
                    <td>
                        <div id="26"></div>
                    </td>
                    <td>
                        <div id="27"></div>
                    </td>
                </tr>
                <tr>
                    <th class="letters">E</th>
                    <td>
                        <div id="28"></div>
                    </td>
                    <td>
                        <div id="29"></div>
                    </td>
                    <td>
                        <div id="30"></div>
                    </td>
                    <td>
                        <div id="31"></div>
                    </td>
                    <td>
                        <div id="32"></div>
                    </td>
                    <td>
                        <div id="33"></div>
                    </td>
                    <td>
                        <div id="34"></div>
                    </td>
                </tr>
                <tr>
                    <th class="letters">F</th>
                    <td>
                        <div id="35"></div>
                    </td>
                    <td>
                        <div id="36"></div>
                    </td>
                    <td>
                        <div id="37"></div>
                    </td>
                    <td>
                        <div id="38"></div>
                    </td>
                    <td>
                        <div id="39"></div>
                    </td>
                    <td>
                        <div id="40"></div>
                    </td>
                    <td>
                        <div id="41"></div>
                    </td>
                </tr>
                <tr>
                    <th class="letters">G</th>
                    <td>
                        <div id="42"></div>
                    </td>
                    <td>
                        <div id="43"></div>
                    </td>
                    <td>
                        <div id="44"></div>
                    </td>
                    <td>
                        <div id="45"></div>
                    </td>
                    <td>
                        <div id="46"></div>
                    </td>
                    <td>
                        <div id="47"></div>
                    </td>
                    <td>
                        <div id="48"></div>
                    </td>
                </tr>
            </table>

        </div>
        <br>
    </div>
</section>


