{{> header}}

<section id="section-how-to-play">
    <div class="container">
        <div class="row">
            <div class="container col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-4 col-lg-4 game-menu-focus">
                <p class="btn btn-warning btn-lg btn-block game-menu-button">How To Play</p>
                <ul class="game-rules">                   
                    <li><p  class="text-warning">There are three ships, three cells each. Reveal them all, and win the battle!</p></li>
                    <li><p  class="text-warning">Click on the map to reveal whether a boat is located there or not.</p></li>
                    <li><p  class="text-warning">Each attempt deducts your score by 1.</p></li>
                    <li><p  class="text-warning">Sink all the boats to win.</p></li>        
                    <li><p  class="text-warning">Complete more maps for a higher ranking in the Hall of Fame</p></li>              
                </ul>
                <a href="#/home" class="btn btn-success btn-lg btn-block game-menu-button">Main Menu</a>
            </div>
        </div>
    </div>
</section>

