{{> header}}

<section id="section-how-to-play">
    <div class="container">
        <div class="row">
            <div class="container col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-4 col-lg-4 game-menu-focus">
                <h2>How to play</h2>
                <ul class="game-rules">
                    <li><p  class="text-warning">Click on the map to reveal whether a boat is located there or not.</p></li>
                    <li><p  class="text-warning">Reveal all 15 boats.</p></li>
                    <li><p  class="text-warning">Each attempt deducts your score by 1.</p></li>
                    <li><p  class="text-warning">Sank all the boats to win.</p></li>
                    <li><p  class="text-warning">Less is more.</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>