<section>
<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-8 col-md-8 col-lg-8 game-add-row">            
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="../../media/telenor.jpg" alt="ibm image" class="img-responsive img-rounded">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="../../media/mtel.jpg" alt="ibm image" class="img-responsive img-rounded">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="../../media/microsoft.jpg" alt="ibm image" class="img-responsive img-rounded">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="../../media/softuni.png" alt="ibm image" class="img-responsive img-rounded">
            </div>
        </div>
    </div>
</div>
</section>