<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header  menu-item">
            <a class="navbar-brand logo" href="#/home" id="battleShipsLogo">Battle Ships</a>
        </div>
    {{#if isAnonymous}}
        <ul class="nav navbar-nav">
            <li class="menu-item"><a href="#/register" id="linkMenuRegister" class="anonymous" data-target="register"><span class="glyphicon glyphicon-registration-mark" ></span>
                Register</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="menu-item"><a href="#/login" class="anonymous" data-target="login"><span class="glyphicon glyphicon-log-in"  ></span> Login</a></li>
        </ul>
    {{else}}
        <ul class="nav navbar-nav navbar-right">
            <li class="menu-item"><a href="#/logout" id="linkMenuLogout" class="useronly"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    {{/if}}
    </div>
</nav>