{{> header}}

<section id="section-hall-of-fame">
    <div class="container">
        <div class="row">
            <div class="container col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6 game-menu-focus">
                <h2>Top 10 Hall Of Fame</h2>   
                {{> highScoresList}}             
            </div>
        </div>
    </div>
</section>

{{> footer}}