<section id="section-hall-of-fame">
    <div class="container">
        <div class="row">
            <div class="container col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-sm-6 col-md-6 col-lg-6 game-menu-focus">
                <h2>Hall Of Fame</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Maps</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Anna</td>
                        <td>109</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Bob</td>
                        <td>101</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Carl</td>
                        <td>78</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Daniel</td>
                        <td>67</td>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>